body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', Verdana, sans-serif;
    color: #333;
    margin-left: auto;
    margin-right: auto;
    width: 940px;
}

h1 {
    background-image: url(../img/sobre-background.jpg);
    padding: 10px;
}

h2 {
    margin-top: 10px;
    border-bottom: 2px solid #333;
}

p {
    padding: 0 30px;
    text-indent: 1.25cm;
}

figure {
    background-color: #f2eded;
    border: 1px solid #333;
    padding: 15px;
    margin: 30px;
    text-align: center;
}

figcaption {
    font-style: italic;
    margin-top: 10px;
}

#cd {
    max-width: 550px;
    margin-left: auto;
    margin-right: auto;
}

#foto-familia {
    float: right;
    margin: 0 0 10px 10px;
}

#ir-para-index {
    padding: 20px;
    background-color: #ddd;
    width: 100%;
    text-align: center;
    margin: 30px auto;
}

#ir-para-index a {
    font-size: 20pt;
    text-decoration: none;
    color: #000;
}

#ir-para-index a:hover {
    text-decoration: underline;
}

#rodape {
    text-align: center;
    margin: 30px 0;
    padding: 30px 0;
    color: #777;
}

#rodape img {
    margin: 10px;
}
