body {
    font-family: 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', 'Lucida Sans Regular', Geneva, Verdana, sans-serif
}

.container {
    margin: 0 auto;
    width: 940px;
}

.sacola {
    position: absolute;
    top: 10px;
    right: 0;
    background-image: url(../img/sacola.png);
    background-repeat: no-repeat;
    background-position: top right;
    font-size: 11pt;
    text-align: right;
    padding-top: 8px;
    padding-right: 35px;
    width: 140px;
}

header {
    position: relative;
}

.menu-opcoes {
    position: absolute;
    bottom: 10px;
    right: 0;
}

.menu-opcoes ul {
    font-size: 12pt;
}

.menu-opcoes li {
    display: inline;
    margin-left: 20px;
}

.menu-opcoes a {
    color: #036;
}

.destaque {
    margin-top: 10px;
}

.busca,
.menu-departamentos {
    background-color: #dcdcdc;
    font-weight: bold;
    text-transform: uppercase;
    width: 225px;
    border-radius: 2px;
    margin-right: 10px;
    float: left;
}

.busca h2,
.busca form,
.menu-departamentos h2 {
    padding-top: 2px;
    margin: 10px;
}

.busca button[type=submit] {
    background-color: #dcdcdc;
    text-decoration: none;
    background-image: url(../img/busca.png);
    background-repeat: no-repeat;
    width: 20px;
    color: rgba(0, 0, 0, 0);
    border: none;
}

.busca input[type=search] {
    width: 170px;
    border-radius: 5px;
}

.menu-departamentos {
    clear: left;
    margin-top: 10px;
    margin-bottom: 10px;
}

.menu-departamentos li {
    background-color: #fff;
    margin-bottom: 1px;
    padding: 5px 10px;
}

.menu-departamentos a {
    text-decoration: none;
    color: #333;
}

.painel {
    width: 445px;
    margin: 10px 0;
    padding: 10px;
}

.painel h2 {
    font-size: 18pt;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.painel li {
    display: inline-block;
    vertical-align: top;
    width: 140px;
    margin: 2px;
    padding-bottom: 10px;
}

.novidades {
    float: left;
    background-color: #f5dcdc;
}

.mais-vendidos {
    float: right;
    background-color: #dcdcf5;
}

footer {
    clear: both;
    background-image: url(../img/fundo-rodape.png);
    padding: 20px 0;
}

footer .container {
    position: relative;
}

footer img {
    vertical-align: middle;
}

.social {
    position: absolute;
    top: 12px;
    right: 0;
}

.social li {
    float: left;
    margin-left: 25px;
}

.social a {
    height: 32px;
    width: 32px;
    display: block;
    color: rgba(0, 0, 0, 0);
}

.social a[href*="facebook.com"] {
    background-image: url(../img/facebook.png);
}

.social a[href*="twitter.com"] {
    background-image: url(../img/twitter.png);
}
